.sidebar {
  width: 290px;
  background-color: #d4d4d4;
  color: rgb(37, 37, 37);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 100vh;
}

.sidebar-header {
  padding: 1.5rem;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sidebar-logo {
  width: 80%;           /* Largura total do sidebar */
  max-width: 200px;      /* Largura máxima */
  height: auto;          /* Mantém proporção */
  margin: 0 auto 2rem auto; /* [topo] [direita] [baixo] [esquerda] */
  display: block;        /* Remove espaço extra */
}


.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s;
  background-color: transparent;
  color: #090a0c;
}

.menu-button:hover {
  background-color: #ffffff;
  color: rgb(20, 20, 20);
}

.menu-button.active {
  background-color: #26282b;
  color: white;
}

.menu-button-label {
  font-weight: 500;
}

.menu-icon-img {
  /* width: 20px; */
  height: 40px;
  object-fit: contain;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 256px;
  padding: 1.5rem;
  border-top: 1px solid #333;
}

.sidebar-version {
  font-size: 0.875rem;
  color: #000000;
}

.sidebar-developed-by {
  font-size: 0.875rem;
  color: #000000;
}
